<div class="modal fade" id="createPostModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="createPostModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <form action="/post" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createPostModalLabel">Create a post</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="postTitle" class="form-label">Post title</label>
                    <input type="text" class="form-control" id="postTitle" name="postTitle">
                    <label for="postBody" class="form-label">Post body</label>
                    <textarea class="form-control" id="postBody" name="postBody"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </div>
        </form>
    </div>
</div>
