<div class="container-sm m-5">
    <form action="/t/<%- topic.name %>/<%- post._id %>/comment" method="POST">
            <textarea name="postComment" id="postComment" cols="30" rows="5" class="form-control mb-3" placeholder="Leave a comment!"></textarea>
            <button type="submit" class="btn btn-primary mb-3">Submit comment</button>
    </form>
</div>