<div class="card mb-3" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"><%- post.content.title %></h5>
        <p class="card-text"><%- post.content.body %></p>
    </div>
</div>