<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <%- include('partials/header.ejs', { title: 'Ribbit' }) %>
    </head>
    <body>
        <%- include('partials/navbar.ejs') %>
        <%- include('partials/createTopicModal.ejs'); %>
        <a href="/post" class="btn btn-primary">POST</a>
        <%- include('partials/scripts.ejs'); %>
    </body>
</html>