<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/header.ejs', { title: 'Ribbit' }) %>
    </head>
    <body class="bg-dark">
        <%- include('partials/navbar.ejs') %>

    </body>
</html>