<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <%- include('partials/header.ejs', { title: user.username }); %>
    </head>
    <body>
        <%- user.username %>
        <br>
        <%- user.bio %>
        <%- include('partials/scripts.ejs'); %>
    </body>
</html>
