<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/header.ejs', { title: user.username }); %>
    </head>
    <body>
        <%- user.username %>
        <br>
        <%- user.bio %>
    </body>
</html>
